:root {
    --secondary-color:#666;
    --introduction-span-color:#FF8A56;
}


* {
    text-decoration: none;
    /* outline: 1px solid rgb(255, 0, 0); */
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');


body {
    font-family: 'Roboto', sans-serif;
}


/* Mobile First */
header {
    display: flex;
    /* TODO display: flex; sətir boyunca bizim elementleri düzür */

    justify-content: space-between;
    /* TODO  justify-content: space-between; img-nav arasına boşluq qoyur */

    align-items: center;
    /* TODO align-items: center; yuxarıdan aşağıya doğru düz mərkəzə çəkir */

    margin: 0 30px;
}


header nav {
    display: none;
}

header nav a {
    color:#000;
    margin-right: 10px;
}

/*  TODO 576-dan kicik olanda ekstra kicik cihazlar col-12 */
/*  TODO 576-768-dan kicik olanda   */
/*  TODO 768-991-dan kicik oplanset col-md */
/*  TODO 991-1200px noutbuklar  */ 
/* TODO 1200-1400px pc */

/* TODO Smart tv 1400px-uzu yuxari */

.intro img{
    width: 1200px;
    height: 1000px;
    margin: 0 0 0 70px;
}



.side img{
    width: 458px;
    height: 648px;
}
/* INTRODUCTION START */

.introduction .intro-left-side h1 {
    font-weight: 700;
    margin-bottom: 20px;
    
}


.introduction .intro-left-side h1 span {
    color: var(--introduction-span-color);
}

.introduction .intro-left-side p {
    color:var(--secondary-color);
    font-weight: 400;
}

.book-a-call {
    margin-top: 40px;
}

.introduction .intro-left-side .book {
    background: #222;
   
    color:#fff;
    width: 151px;
    height: 58px;
display: inline-flex;
justify-content: center;
align-items: center;
margin-right: 10px;
}




.logoipsumlar h6{
    text-align: center;
    font-size: 18px;
    font-weight: 100;
}



.logoipsumlar{
    padding: 100px 0;
   
}

.logoipsumlar section{
    padding:  0 0 0 50px;
}

article{
    color: #ffffff;
    opacity: .7;
    margin: 0 0 0 0;
}



.intro-right-side article{
    font-size: 25px;
    font-weight: 400;
    color: #000;
    text-align: right;
    margin: -64px 26px 0 0;
}





@media(min-width:768px) {
    .parentdiv {
        max-width: 100%;
    }
   

    header nav {
        display: block;
    }
    
    .fa-bars {
        display: none;
    }

    .introduction{
        display: flex;
    }

    .introduction .intro-left-side{
        padding-top: 70px;
        margin: 0 0 0 30px;
    }

    .introduction .intro-right-side{
        padding-top: 70px;
    }

    .introduction .intro-left-side h1{
        font-size: 28px;
        color: #000000;
    }
    
    .introduction .intro-right-side img{
        width: 458px;
        height: 558px;
        margin: -28px 8px;
        
    }
}

@media(min-width:992px) {
    .parentdiv {
        max-width: 100%;
    }



    .introduction {
        display: flex;
        
    }

    .introduction .intro-left-side h1 {
        font-size: 78px;

       
    }

    .intro h1{
        font-size: 40px;
        
    }        
    
    .intro {
        padding: 92px 0;
    }        
    
    

    .introduction .intro-left-side {
        padding: 92px 0;
    }

    .introduction .intro-right-side {
        padding-top: 72px;
    }

    .introduction .intro-right-side img{
        width: 458px;
        height: 558px;
      
        
    }

    


    .intro-section{
        display: flex; 
    }

    .intro-section .div-left h2{
        font-size: 30px;
        color: #FF8A56;
      
        margin: 79px 0 -28px 0;
    }

    .intro-section .div-left .h2{
        font-size: 40px;
        color: #ffffff;
        
    }

    .intro-section .div-left{
        padding: 0 0 269px 0;
        margin: -46px 51px;
    }

    .intro-section .div-right{
        padding-top: 72px;
    }

    .intro-section .div-right img{
        width: 868px;
        height: 522px;
        margin: -46px -54px -179px -145px;
        padding: 0 0px 371px 38px;
    }

}

@media(min-width:1200px) {
    .parentdiv {
        max-width: 100%;
    }

}

/* TODO */





